.bankCard {
  min-height: 100vh;
  background: #fff;
  padding-bottom: 50px;
  box-sizing: border-box;
  overflow: hidden;
  .am-list-item .am-input-label {
    font-size: 15px;
  }
  .am-list-item .am-input-control input {
    font-size: 15px;
  }
  .am-list-item .am-input-extra {
    color: #007AFF;
  }
}

